---
layout: archive
---

{{ content }}
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Old Posts" }}</h3>

<h1>Angela Castillo
  <br>
  <h2>
      My research is directed towards the generation of multimodal & multilabel images using adversarial training for
      video sequences, and biomedical image enhancement for diagnose, at the Biomedical Computer Vision Lab. under the
      supervision of Prof. Pablo Arbeláez.
  </h2>
</h1>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
